.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #000349;
    color: white;
    padding: 25px 10px;
}

.top-left{
    display: flex;
    font-weight: 600;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.text-en{
    color: rgb(110, 238, 110);
}

.top-right{
    word-spacing: 10px;
    font-weight: 600;
}


@media screen and (max-width: 1024px){
    .top{
        width: 1200px;
        justify-content: space-between;
    }
    .top-right{
        margin-right: 200px;
    }
}