.footer {
    background :linear-gradient(90deg, #000349 0%, #005B8E 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1px;
    padding: 15px;
}

.footer h1 {
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    .footer{
width: 600px;
    }
    .footer h1{
        font-size: 1rem;
    }
  }