.clip-container{
    position: relative;
}

.clip{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    gap: 170px;
    padding: 50px;
    z-index: 1;
    height: 1000px;
}

.clip-heading{
    font-size: 0.8rem;
}

.clip-para{
    line-height: 30px;
    color: #666;
}

.clip-img{
    position: absolute;
    top: 30%;
    left: 19%   ;
    z-index: 1;
}

.video img{
    border-radius: 20px;
    height: 350px;
}

.clip-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 53%;
}

/* Banner */


.banner-columns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #FF002E 0%, #FF7A00 100%);;
    padding: 70px;
    margin-top: 60px;
}

.banner-column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 5px;
    padding: 10px;
    gap: 25px;
    color: white;
}

.banner-heading{
    font-size: 1rem;
    font-weight: 700;
}

.banner-para{
font-size: 1rem;
font-weight: 600;
text-align: center;
}

@media screen and (max-width: 1024px){
    .banner-columns{
        width: 100vw;
        gap: 60px;
    }

    .banner-column{
        gap: 10px;
    }
    .clip{
        margin-top: 100px;

    }
    .banner-para{
        width: 150px;
    }
    .clip-img{
        width: 650px;
        position: absolute;
        top: 25%;
        left: 15%;
    }
    .clip-heading{
        font-size: 0.8rem;
        width: 500px;
        margin-left: 80px;
    }
    
    .clip-para{
       width: 500px;
       text-align: center;
    }
}

@media screen and (max-width: 768px){
    .banner-columns{
        width: 100vw;
        gap: 60px;
    }

    .banner-column{
        gap: 10px;
    }
    .clip{
        margin-top: 100px;

    }
    .banner-para{
        width: 150px;
    }
    .clip-img{
        width: 650px;
        position: absolute;
        top: 25%;
        left: 5%;
    }

    .clip-heading{
        font-size: 0.8rem;
        width: 500px;
        margin-left: 150px;
    }
    
    .clip-para{
       width: 500px;
       text-align: center;
    }
}


@media screen and (max-width: 600px){

    .clip{
        margin-top: 200px;
        margin-bottom: 100px;
    }
    
    .clip-heading{
        font-size: 0.8rem;
        width: 500px;
        margin-left: 80px;
    }
    
    .clip-para{
       width: 500px;
       text-align: center;
    }
    
    .clip-img{
        width: 500px;
        position: absolute;
        top: 19%;
        left: 5%   ;
        z-index: 1;
    }
    
    
    /* Banner */
    
    
    .banner-columns{
        flex-direction: column;
        width: 100vw;
        gap: 60px;
    }
    
    .banner-column{
        gap: 15px;
    }
    
    .banner-heading{
        font-size: 0.6rem;
        font-weight: 700;
    }
}